{
  email {$ACME_EMAIL}
}

{$WEB_DOMAIN} {
  encode zstd gzip

  handle_path /admin/* {
    reverse_proxy admin:80
  }

  handle /api/* {
    reverse_proxy api:4000
  }

  handle /uploads/* {
    reverse_proxy api:4000
  }

  handle /webhooks/* {
    reverse_proxy api:4000
  }

  handle /health {
    reverse_proxy api:4000
  }

  handle {
    reverse_proxy web:80
  }
}

www.{$WEB_DOMAIN} {
  redir https://{$WEB_DOMAIN}{uri}
}
